html{
	height: 100%;
	padding: 0;
	margin: 0;
}
body{
	padding: 0;
	margin: 0;
}
.H5_loading{
	z-index: 999999;
	display: none;
	background-color: rgba(0,0,0,.2);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
	filter: alpha(0);
	-moz-opacity: 0;
}
@-webkit-keyframes fadeIn{
	from{opacity: 0;}
	to{opacity: 1;}
}
@keyframes fadeIn{
	from{opacity: 0;}
	to{opacity: 1;}
}
@-moz-keyframes fadeIn{
	from{-moz-opacity: 0;}
	to{-moz-opacity: 1;}
}
@-ms-keyframes fadeIn{
	from{filter:alpha(0);}
	to{filter:alpha(1);}
}
@keyframes fadeOut{
	from{opacity: 1;}
	to{opacity: 0;}
}
@-webkit-keyframes fadeOut{
	from{opacity: 1;}
	to{opacity: 0;}
}
@-moz-keyframes fadeOut{
	from{-moz-opacity: 1;}
	to{-moz-opacity: 0;}
}
@-ms-keyframes fadeOut{
	from{filter:alpha(1);}
	to{filter:alpha(0);}
}
.H5_loading .H5_loading_process{
	width: 7rem;
	height: 7rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -3.5rem;
	margin-left: -3.5rem;
	border-radius: 50%;
}
.H5_loading .H5_loading_process div{
	width: 1rem;
	height: 1rem;
	position: absolute;
	border-radius: 50%;
	transform: scale(0.5);
	-webkit-transform: scale(0.5);
}
.H5_loading .H5_loading_process div:nth-child(1){
	top: 0;
	left: 50%;
	margin-left: -0.5rem;
	animation: loading_process 1s 0s infinite;
	-webkit-animation: loading_process 1s 0s infinite;
}
.H5_loading .H5_loading_process div:nth-child(2){
	top: 25%;
	right: 25%;
	margin-right: -1rem;
	margin-top: -0.75rem;
	animation: loading_process 1s 0.125s infinite;
	-webkit-animation: loading_process 1s 0.125s infinite;
}
.H5_loading .H5_loading_process div:nth-child(3){
	top: 50%;
	right: 0;
	margin-top: -0.5rem;
	animation: loading_process 1s 0.25s infinite;
	-webkit-animation: loading_process 1s 0.25s infinite;
}
.H5_loading .H5_loading_process div:nth-child(4){
	bottom: 25%;
	right: 25%;
	margin-right: -1rem;
	margin-bottom: -0.75rem;
	animation: loading_process 1s 0.375s infinite;
	-webkit-animation: loading_process 1s 0.375s infinite;
}
.H5_loading .H5_loading_process div:nth-child(5){
	bottom: 0;
	left: 50%;
	margin-left: -0.5rem;
	animation: loading_process 1s 0.5s infinite;
	-webkit-animation: loading_process 1s 0.5s infinite;
}
.H5_loading .H5_loading_process div:nth-child(6){
	bottom: 25%;
	left: 25%;
	margin-left: -1rem;
	margin-bottom: -0.75rem;
	animation: loading_process 1s 0.625s infinite;
	-webkit-animation: loading_process 1s 0.625s infinite;
}
.H5_loading .H5_loading_process div:nth-child(7){
	bottom: 50%;
	left: 0;
	margin-bottom: -0.5rem;
	animation: loading_process 1s 0.75s infinite;
	-webkit-animation: loading_process 1s 0.75s infinite;
}
.H5_loading .H5_loading_process div:nth-child(8){
	top: 25%;
	left: 25%;
	margin-left: -1rem;
	margin-top: -0.75rem;
	animation: loading_process 1s 0.875s infinite;
	-webkit-animation: loading_process 1s 0.875s infinite;
}

@keyframes loading_process{
	87.5% {transform: scale(1.1);}
	93.75% {transform: scale(1.5);}
	100% {transform: scale(1.1);}
}
@-webkit-keyframes loading_process{
	87.5% {-webkit-transform: scale(1.1);}
	93.75% {-webkit-transform: scale(1.5);}
	100% {-webkit-transform: scale(1.1);}
}
